[submodule "roles/base-packages"]
	path = roles/base-packages
	url = https://github.com/ffbsee/role-base_packages.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
