[submodule "roles/base-packages"]
	path = roles/base-packages
	url = https://github.com/ffbsee/role-base_packages.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/ssh-authorisation"]
	path = roles/ssh-authorisation
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "vars/vault-passwort"]
	path = vars/vault-passwort
	url = gitea@gitea.see-base.de:C3WOC/ansible-vault-passwort.git
